<!DOCTYPE html>
<html ng-app="msApp">
<head>
    <title>Minesweeper Kata</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/GameController.js"></script>
    <script src="js/GameServices.js"></script>
    <script src="js/directives.js"></script>
</head>
<body ng-controller="GameController">


<form>
    <fieldset>
        <div>
            <label for="width">Width</label>
            <input id="width" type="number" ng-model="newGameCommand.width"/>
            <label for="height">Height</label>
            <input id="height" type="number" ng-model="newGameCommand.height"/>
            <label for="mineCount">Mine count</label>
            <input id="mineCount" type="number" ng-model="newGameCommand.mineCount"/>
        </div>
        <div>
            <button type="submit" ng-click="startNew()">New game</button>
        </div>
    </fieldset>
</form>
<p>{{statusText}}</p>
<!-- game board -->
<table border="1">
    <tr ng-repeat="row in board.rows">
        <td ng-repeat="field in row.fields"><tile text="{{field.value}}" tileType="{{field.type}}" /></td>
    </tr>
</table>

</body>
</html>